.annotation-container{
	position: absolute;
	display: flex;
	flex-direction: column;
}
.annotation-container:hover{
	cursor: text;
}

.annotation-container .input{
	min-width: 4rem;
	border: 1px dotted #bbb;
	border-radius: 8px;
	padding: 1px 2px;
	outline: 0px solid transparent;
}
.extension-btn{
	outline:none;
	border-none
	background-color: transparent;
	margin: 1px 0;
	padding: 1px 0;
}
.extension-btn-wrapper{
/*	position: relative;*/
	display: flex;
	justify-content: flex-end;
	gap: 6px;
}
.extension-btn:hover{
	background-color: #ddd;
	cursor: pointer;
}
.extension-save{
	font-size: 0.8rem;
}
.extension-save:hover{
	color: navy;
}
.extension-close:hover{
	color: red;
}